.vscode/**
.idea/**
.vscode-test/**
dist/__out__/**
dist/runTest.js
package-lock.json
yarn.lock
src/**
test/**
**/.editorconfig
**/.gitignore
**/.eslintrc.js
**/.eslintignore
**/rollup.config.js
**/tsconfig.json
**/*.map
**/*.ts
**/*.vsix
