<!doctype html>
<html lang="{{ lang }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ title }}</title>
  <style rel="stylesheet">
    pre {
      margin: 20px;
      font-family: -apple-system, "Ubuntu", "Helvetica Neue", "Helvetica", "Arial", sans-serif, "Microsoft YaHei";
      font-size: 16px;
      color: #000000;
      line-height: 22px;
    }
  </style>
</head>
<body>
<pre>
  {{ content }}
</pre>
</body>
</html>
